/*Formula
alov/contexto = resultado*/
img, iframe, object, embed, video {max-width: 100%; /*height: auto;*/ height: 100%}
* {margin: 0; padding: 0;}
html {font-family: Arial, Helvetica, sans-serif;}
.container {margin: 0 auto; width: 97.5% ;/* +/- 960*/}
h1 {/*font-size: 32px;*/ font-size: 2em;} /*32/16 = 2*/
.brief {/*margin:5px 0;*/margin: 1% 0; /*5/593px = 0.8431% (foi arredondado pra 1)*/}
.content {/*margin: 15px 0;*/ margin: 1.5625% 0;} /*15/960 = 0..015625 */ /*como estamos lidando com porcentagens, multipliquemos por 100*/
	.content-main {float: left; /*width: 593px;*/ width: 61.7708%;}
		.hero { /*margin: 25px 0;*/ margin: 4.2158% 0; /*25/593px*/ }
		.last-contents {/*font-size: 12px;*/ font-size: .75em;} /*12/16 = 0.75*/
			.last-content-call {
				float: left;
				margin: 2.5295% 2.5295% 2.5295% 0; /*15/593 = 0.025295 (*100)*/ 
				/*width: 280px;*/ width: 47.2175%; /*280/593 = 0.472175 (*100)*/} 
				.last-content-call .secondary-title {margin-bottom: 0;}
				.last-content-call .brief {/*margin: 5px;*/ margin: 1.7857%; /*5/280 = 0.0178571 (*100)*/ }
.content-sidebar{
	background-color: #F0F0F0; 
	float: right; 
	padding: 1.0416%; /*padding: 10px;*/ /*10/960 */
	width: 33.5416%;/*width: 322px; 322/960*/
} 

	.main-nav ul {list-style: none;}
	.main-nav li {
		background-color: #f9f9f9; 
		float: left;
		margin: 4.6583%; /*15/322*/
		outline: 0.3105% solid #dedede; /*1/322*/
		text-align: center;
		width: 40.3726%;} /*130/322*/
		.main-nav a {
			display: block; 
			padding: 7.6923%; /*10/130*/
			text-decoration: none;}

.main-footer {
	background-color: #f0f0f0; 
	clear: both;
	float: left;
	font-size: 0.75em; /*12/16*/
	margin: 1.5625% 0;/* 15/960*/
	padding: 1.5625%; /* 15/960*/
	text-align: center; 
	width: 100%;}

/*@media all and (max-width: 320px){
	.main-nav li {
		float: none;
		width: auto;
	}
}*/

@media all and (max-width: 640px){
	.content-main {float: none;}
	.last-content-call {float: none; width: auto;}
	.content-sidebar {float: none; clear: both;}
	.main-nav li {
		float: none;
		width: auto;
	}	
}